<div class="container">
  <div class="border border-warning rounded-3 p-4">
    <h1 class="text-warning text-center"><%= image_tag attachments['twitter.png'].url, size: 37, alt: 'logo'%> COEUS-TWEETZ</h1>
    <h2 class="text-warning">
      <%= @greeting %>, <%= @followed_user.name %> <br>
    </h2>

    <h4>
      You have a new follower '<%= @follower_user.name %>'
    </h4>
    <p>Now you have <b><%= @followed_user.followers.count %></b> Follower(s)</p>
    <hr>

    <h4 class="text-center text-decoration-underline">Follower Information</h4>
    <div class="container col-lg-10 col-sm-11">

      <div class="card border-0">
        <div class="card-header fw-bold">
          <%= @follower_user.name %>
          <small class="card-body text-secondary">@<%= @follower_user.username %></small>
        </div>

        <table class="table text-black-50">
          <tbody>
          <tr>
            <th scope="row">Followers:</th>
            <td><%= @follower_user.followers.count %></td>
          </tr>
          <tr>
            <th scope="row">Followings:</th>
            <td><%= @follower_user.followings.count %></td>
          </tr>
          <tr>
            <th scope="row">Tweets:</th>
            <td><%= @follower_user.posts.count %></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="text-center text-secondary mt-5">
      <button class="btn btn-warning rounded-pill mb-5">See more on Coeus-Tweetz</button>
      <br><br><br>
      <pre>
      <strong>Help | Privacy | Reset Password</strong>
      We sent this email to @<%= @followed_user.username %>.
      Coeus Solutions GmbH,
      c/o eKomi Ltd,
      Zimmerstraße 11
      10969 Berlin
      <a href="mailto:info@coeus-solutions.de">info@coeus-solutions.de</a><br>
      © 2021 Copyright: <a class="text-warning" href="https://github.com/MuhammadZeeshanYousaf">Zeeshan Developer</a>
      </pre>
    </div>
  </div>
</div>
