<header class="p-3 bg-dark text-white">

  <div>

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <h4 class="bi me-2 text-warning">COEUS-TWEETZ</h4>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <% if user_signed_in? %>
          <li><%= link_to "Home", root_path, class: "nav-link px-2 text-white" %></li>
          <li><%= link_to "Edit profile", edit_user_registration_path, class: 'nav-link px-2 text-white' %></li>
          <li><%= link_to "My tweets", my_posts_path(current_user.username), class: "nav-link px-2 text-white" %></li>
          <li><%= link_to "Profile", show_user_path(current_user.username), class: "nav-link px-2 text-white" %></li>
          <li><%= link_to "Add friends", users_path, class: "nav-link px-2 text-white" %></li>
        <% end %>
      </ul>

<!--      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">-->
<!--        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">-->
<!--      </form>-->

      <div class="text-end">
        <% if user_signed_in? %>
          <%= link_to current_user.username, show_user_path(current_user.username), class: "btn btn-warning rounded-pill" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-outline-warning' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-light me-2' %>
          <%= link_to "Sign in", new_user_session_path, class: 'btn btn-warning' %>
        <% end %>

      </div>

    </div>

  </div>

</header>