<%= form_with(model: post) do |form| %>

  <% if post.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h6><%= pluralize(post.errors.count, "error") %> occurred!</h6>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline">
    <%= form.text_area :body, class: "form-control", placeholder: "Tweet...", rows: 4 %> <br>
  </div>

  <div class="form-outline">
    <%= form.label :post_image %>
    <%= form.file_field :post_image %>
  </div>

  <br>
  <div class="action">
    <%= form.submit class: "btn btn-secondary"%>
  </div>

<% end %>
