<div class="card shadow p-3 mb-5 mt-5 bg-white rounded container col-sm-11" id="post_<%= post.id %>">

  <div class="card-body">
    <div class="btn-group" style="float: right">
      <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Show', post, class: "dropdown-item"%></li>
        <% if current_user.id.eql?(post.user.id) %>
          <li><%= link_to 'Edit', edit_post_path(post), class: "dropdown-item"%></li>
          <li><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "dropdown-item" %></li>
        <% end %>
      </ul>
    </div>
    <h5 class="card-title"><%= post.user.name %></h5>
    <p class="card-subtitle mb-2 text-muted">@<%= post.user.username %></p>
    <hr>
    <div class="card-text"><%= post.body %></div>
  </div>
  <div class="card-footer">
    <small class="text-muted">Created at: <%= post.created_at.strftime("%d-%m-%Y %H:%M:%S") %></small>
    <hr>
    <%= link_to "Comment (#{post.comments.count})", post, class: "btn btn-secondary rounded-pill" %>
    <% @post = post %>
    <div><%= render 'comments/form' %></div>
  </div>
  <br>
</div>